@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

section{
    padding:2rem 9%;
}

section:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}


.heading-t{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}




/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
}
.food-menu-box{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 20%;
    float: left;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Categories */
.container{
	display: flex;
	justify-content: space-around;
	
}

.categories{
	margin: 30px;
}

.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}
.text-white{
    color: #fff;
    font-size: 16px;
}
.float-text{
    position: relative;
    bottom: 50px;
    left: 30%;
    font-size: 2rem;
}

.clearfix{
    clear: both;
    float: none;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:white;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}


header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fff;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}


#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(--green);
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
}

/*slider style start*/
.home .home-slider .slide{
	display: flex;
	align-items: center;
	height: 100vh;
	justify-content: flex-start;
}
.home .home-slider .slide1{
	background: url(../images/slideshow-9.jpg);
	background-color: #333;
	background-blend-mode:overlay;
}
.home .home-slider .slide2{
	background: url(../images/slideshow-10.jfif);
	background-color: #333;
	background-blend-mode:overlay;
}
.home .home-slider .slide3{
	background: url(../images/slideshow-11.jpg);
	background-color: #333;
	background-blend-mode:overlay;
}
.home .home-slider .slide1,
.home .home-slider .slide2,
.home .home-slider .slide3
{
	background-size: cover;
	background-repeat: no-repeat;
}
.home .home-slider .slide .content-box{
	text-align: center;
	padding-left: 9rem;
}
.home .home-slider .slide .content-box h3{
	color: #cdaa7c;
	font-size: 3rem;
	font-weight: 400;
}
.home .home-slider .slide .content-box h1{
	color: #fff;
	font-size: 5rem;
}
.home .home-slider .slide .content-box p{
	color: #f8ffff;
	font-size: 1.4rem;
	letter-spacing: 3px;
	padding: .5rem 0;
	line-height: 1.5;
	font-weight: 300;
}
.home .home-slider .slide .content-box img{
width: 100px;
margin-top: 10px;
}


  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  


.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{ 
    width: 100%;
}

.about .row .content-a{
    flex:1 1 45rem;
}

.about .row .content-a h3{
    color:var(--black);
    font-size: 4rem;
    padding:.5rem 0;
}

.about .row .content-a p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content-a .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about .row .content-a .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content-a .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--green);
}

.about .row .content-a .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}



.sucess{
	padding: 2%;
	color: green;
     }
     .error{
	padding: 2%;
	color: red;
     }

.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: var(--green);
    color:#fff;
}

.menu .box-container .box .content-b{
    padding:2rem;
    padding-top: 0;
}

.menu .box-container .box .content-b .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content-b .stars i{
   font-size: 1.7rem;
   color:var(--green);
}

.menu .box-container .box .content-b h3{
    color:var(--black);
    font-size: 2.5rem;
}

.menu .box-container .box .content-b p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content-b .price{
    color:var(--green);
    margin-left: 1rem;
    font-size: 2.5rem;
}

.wrapper{
	font-family: 'Raleway', sans-serif;
	min-height: 80vh;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 32px 0;
	overflow-x: hidden;
}
.testimonials{
	background-color: #fff;
	max-width: 1000px;
	margin: 0 32px;
	padding: 16px;
	border-radius: 4px;
	box-shadow: 0 2px 20px 6px rgba(0, 0, 0, 0.2);
}
.title{
	text-align: center;
	margin-top: 15px;
}
.title h2{
	font-weight: 300;
	color: #192a56;
	letter-spacing: 2px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
	font-size: 32px;
}
.title h2 span{
	font-weight: 600;
}
.title h3{
	text-transform: uppercase;
	font-size: 17px;
	color: #b1b1b1;
	font-weight: 400;
	position: relative;
	margin: 24px 0;
	padding-bottom: 10px;
	letter-spacing: 2px;
	text-align: center;
}
.title h3::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	height: 2px;
	background: #b1b1b1;
	width: 80px;
}
.content{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	overflow: hidden;
	margin-bottom: 16px;
}
.client-thumbnail img{
	width: 100%;
}
.client-thumbnail{
	overflow: hidden;
	width: 40px;
	height: 40px;
	margin-right: 8px;
	border-radius: 50%;
}
.clients-tabs{
	margin-bottom: 24px;
}
.client-intro .client-name{
	color: #192a56;
	font-size: 14px;
}
.client-intro .client-designation{
	font-size: 15px;
	color: #b1b1b1;
}
.client-intro .client-description{
	display: none;
	font-size: 15px;
}
.client-item{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin: 12px 0;
	padding: 12px;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.client-item:first-child{
	margin-top: 0;
}
.client-item:last-child{
	margin-bottom: 0;
}
.client-item:hover{
	background-color: #192a56;
}
.client-item:hover .client-intro *{
	color: #fff;
}
.client-item:active{
	transform: translateY(3px);
}
.client-item.active{
	background-color: #192a56;
}
.client-item.active .client-intro *{
	color: #fff;
}


.show-img img{
	border-radius: 2px;
}
.show-text > div{
	padding: 12px 0;
}
.show-text .show-name{
	font-size: 20px;
	color: #192a56;
}
.show-text .show-designation{
	color: #b1b1b1;
	font-size: 14px;
}
.show-text .show-description{
	margin: 20px 0;
	font-weight: 300;
	color: #686868;
	line-height: 1.4;
	font-size: 13px;
}
.show-text a{
	background-color: #EF233C;
	color: #fff;
	text-decoration: none;
	padding: 10px 24px;
	display: inline-block;
	margin-top: 8px;
	text-transform: uppercase;
	transition: background-color 0.3s ease-in-out;
	font-size: 14px;
}
.show-text a:hover{
	background-color: #f2745f;
}
/*media query*/
@media(min-width: 768px){
	.testimonials{
			padding: 20px 40px;
	}
	.content{
			flex-direction: row;
	}
	.clients-list{
			width: 30%;
	}
	.show-info{
			width: calc(70% - 30px);
			margin-left: 30px;
	}
	.clients-tabs{
			margin-bottom: 0px;
	}
	
}

@media(min-width: 992px){
	.show-info{
			display: flex;
			align-items: flex-start;
	}
	.show-img{
			margin-right: 30px;
			height: 100%;
	}
	.show-img img{
			width: 280px;
			object-fit: cover;
			height: 100%;
	}
}

/*media query*/
@media(min-width: 768px){
	.testimonials{
			padding: 20px 40px;
	}
	.content{
			flex-direction: row;
	}
	.clients-list{
			width: 30%;
	}
	.show-info{
			width: calc(70% - 30px);
			margin-left: 30px;
	}
	.clients-tabs{
			margin-bottom: 0px;
	}
	
}

@media(min-width: 992px){
	.show-info{
			display: flex;
			align-items: flex-start;
	}
	.show-img{
			margin-right: 30px;
			height: 100%;
	}
	.show-img img{
			width: 280px;
			object-fit: cover;
			height: 100%;
	}
}
@media (max-width: 991px)
{
	html
	{
		font-size: 55%;
	}
	header
	{
		padding: 1rem 2rem;
	}
	header .logo img
	{
		height: 7rem;
	}
	.our-menu .menu-container
	{
		grid-template-columns: repeat(auto-fit,minmax(30rem,2fr));
	}
	.our-menu .menu-container .item .item-menu span 
	{
		width: 15%;
	}
}
/*TEAM STYLING*/
.team {
	margin-top: 30px;
	text-align: center;
}
.team h4{
	text-align: center;
	font-size: 2em;
}
#container-t {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 8px;
	margin: 20px;
}
.single-team {
	width: 200px;
	height: 300px;
	padding: 10px;
	background: #fff;
	position: relative;
	display: flex;
	align-items: flex-end;
	transition: 0.9s ease-out;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}
.single-team:hover {
	transform: translateY(25px);
}
.single-team:hover::before {
	opacity: 1;
}
.single-team:hover .team-text {
	opacity: 1;
	transform: translateY(0);
}
.single-team::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	display: inline;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #000, transparent);
	z-index: 2;
	transition: 0.5s;
	opacity: 0;
}
.single-team img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
.single-team .team-text {
	position:absolute;
	z-index: 2;
	color: #fff;
	opacity: 0;
	transform: translateY(10px);
	transition: 0.5s;
}
.single-team h3 {
	margin: 0;
	font-family: "DMSerifDisplay Regular", serif;
	letter-spacing: 3px;
	text-transform: capitalize;
	padding: 0;
	font-size: 20px;
}
.team-text p {
	letter-spacing: 1px;
	margin-top: 5px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	text-transform: capitalize;
}
.team-text a {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin: 0 5px;
	text-decoration: none;
	padding-top: 3px;
}
.team-text a i {
	color: #fff;
	padding: 3px;
}
.team h4 {
	font-size: 35px;
	text-transform: capitalize;
	font-family: "Wellfleet-Regular";
}
/*reservation style start*/
.reservation
{
	display: flex;
	width: 100%;
}
.reservation .image
{
	width: 55%;
	background: url(../images/book-a-table.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 9rem;
}
.reservation .form 
{
	background: #181818;
	width: 45%;
	padding: 9rem 7%;
}
.reservation .form h1
{
	color: #fff;
}
.reservation .form-holder
{
	display: flex;
	grid-gap: 3rem;
	width: 100%;
}
.reservation .form form input,
.reservation .form form select
{
	display: block;
	margin: 2rem 0;
	width: 100%;
	background: none;
	border-bottom: .1rem solid #b7b3b3;
	color: #b7b3b3;
	font-size: 1.8rem;
	font-weight: 300;
}
.reservation .form form input:placeholder
{
	color: #b7b3b3;
}
/*reservation style end*/


.footer
{
	background: #333;
	text-align: center;
	color: black;
	font-size: 1.3rem;
}
.footer .container
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem,2fr));
	color: black;
	grid-gap: 1rem;
	padding: 4rem 0;
	border-bottom: 1px solid #b2b2b2;
}
.footer .container div
{
	padding: 0 7rem;
}
.footer .container h3
{
	color: black;
	font-size: 1.5rem;
	padding-bottom: .8rem;
}
.footer .container input
{
	width: 100%;
	border: 1px solid #b2b2b2;
	padding: .5rem .8rem;
	background: transparent;
	border-radius: 20px;
}
.footer .container ul 
{
	list-style: none;
	display: flex;
	justify-content: center;
	padding-top: 1rem;
}
.footer .container ul li a 
{
	color: #b2b2b2;
	margin-left: 10px;
	font-size: 18px;
}
.footer .container span 
{
	display: block;
	margin-bottom: 4px;
}
.para{
	padding: 10px;
  font-size: 1.8rem;
	letter-spacing: 2px;
	color: black;
	text-align: center;
	vertical-align: middle;
}
#para{
	font-size: 1.8rem;
	letter-spacing: 2px;
	color: #E8AA42;
	text-align: center;
}
#parag{
color: #E8AA42;
}


 

.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}


































/* media queries  */

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }

    section{
        padding:2rem;
    }


}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }

}

